html {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

body {
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: #fff;
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    padding: 1rem;
    margin: 0.5rem;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


select {
    width: 400px;
    height: 80px;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding-top: 0;
    padding-left: 4rem;
    appearance: none; /* Removes the default arrow */
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /*  Firefox */
    background: url('tower.svg') no-repeat left 10px center, url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"%3E%3Cpath d="M0 0l5 5 5-5" stroke="%23fff" stroke-width="1" fill="none" /%3E%3C/svg%3E') no-repeat right 10px center;
    background-size: 36px 36px, 20px 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

select:focus-visible {
    outline: none;
}

@media (max-width: 767px) {
    select {
        width: 300px;
    }
}


span * {
    display: inline;
    vertical-align: middle;
}


.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    overflow: hidden;
}

.background-image {
    position: absolute;
    z-index: -2;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-image: url('bg-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(60%) grayscale(100%) blur(24px);
}

.background-color {
    position: absolute;;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: opacity 2s ease;
    background: linear-gradient(rgba(45, 64, 89, .5), rgba(255, 212, 96, .2));
}

/*
 *
 *
 * Sidebar
 *
 *
 */
 .sidebar {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
}

/*
 *
 *
 * Playback view
 *
 *
 */
.playback-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playback-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: transparent;
    height: auto;
    width: 50vw;
    max-width: 500px;
    border-radius: 20px;
}
@media (max-width: 767px) {
    .playback-info {
        width: 80vw;
    }
}

.playback-info path {
    fill: black;
}

.playback-info > * {
    margin: 0.5rem;
}

.song-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#id {
    font-size: clamp(2rem, 3vw, 3rem);
}
.song-details * {
    margin: 0;
}

.album-artist-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-artist {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 100;
}

.playback-bttn {
    padding: 0;
}
/*
 *
 *
 Volume Adjustment
 *
 *
 */
.settings-view {
    display: none;
    width: 75%;
    max-width: 400px;
    text-align: center;
}

.ratio-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    padding-top: 4rem;
}

.ratio-wrapper > svg {
    margin: 0.75rem;
}

.slider {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
}

.line, .line-solid {
    position: absolute;
    background: #fff;
    height: 3px;
    border-radius: 10px;
}

.line {
    width: 100%;
    opacity: 0.2;
}

.line-button {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    transform: translate(-50%);
}

.line-button:hover {
    box-shadow: 0 0 10px #fff;
}
/*
 *
 *
 * Airport Selection View
 *
 *
 */
.airport-selection {
    display: none;
}

@media (pointer: coarse) {
    .hide-on-touch {
        display: none;
    }
}