
html {
    
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-size: 16pt;
    margin: 0pt;
}

main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: #fff;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 10pt;
    border-radius: 10pt;
    font-size: large;
    font-weight: 400;
    margin: 5pt;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

span * {
    display: inline;
    vertical-align: middle;
    
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    overflow: hidden;
}

.background-image {
    position: absolute;
    z-index: -2;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-image: url('bg-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(30%) grayscale(100%) blur(24px);
}

.background-color {
    position: absolute;;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: opacity 2s ease;
    background: linear-gradient(rgba(240, 80, 127, .5), rgba(115, 231, 211, .2));
}
    


/*Side bar*/
.sidebar {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar button {
    margin: 5px;
}

.sidebar.back-button {
    padding: 15pt;
}


/*Volume*/
.volume-adjustment {
    display: none;
    width: 50%;
    max-width: 400px;
    text-align: center;
}

.slider-input {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
}

.slider-input-line, .slider-input-line-solid {
    background: #fff;
    height: 3px;
    border-radius: 5px;
}

.slider-input-line {
    position: absolute;
    width: 100%;
    opacity: 0.2;  
}

.slider-input-btn {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    transform: translate(-50%);
}

.slider-input-btn:hover {
    box-shadow: 0 0 10px #fff;
}



.playback-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playback-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    width: 20rem;
    height: 10rem;
    border-radius: 50pt;
}

.playback-info path {
    fill: black;
}

.playback-info > * {
    margin: 5pt;
}

.song-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-details * {
    font-size: clamp(6pt, 16pt, 16pt);
    margin: 0;
}

.album-artist {
    color: gray;
}