
.sidebar {
    position: fixed;
    top: 10px;
    right: 10px;
}

.sidebar > div {
    margin: 5px;
}


.playback-bttn-container {
    position: relative;
    width: 50px;
    height: 50px;
}
.playback-bttn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#pause {
    display: none;
}
